{% extends 'base.html' %}
{% block content %}

<h1>Guitar Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ guitar.name }}</span>
        <p>Color: {{ guitar.color }}</p>
        <p>Make: {{ guitar.make }}</p>
        <p>Type: {{ guitar.type }}</p>
        {% if guitar.age > 0 %}
          <p>Age: {{ guitar.age }}</p>
        {% else %}
          <p>Age: I just got this one!</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'guitars_update' guitar.id %}">Edit</a>
        <a href="{% url 'guitars_delete' guitar.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
      <form action="{% url 'add_tuning' guitar.id %}" method="POST">
          {% csrf_token %}
          {{ tuning_form.as_p }}
          <input type="submit" class="btn" value="Add Tuning">
      </form>
      <br>
      
      {% if guitar.tuned_for_today %}
        <div class="card-panel teal-text center-align">{{ guitar.name }} has been tuned today</div>
      {% else %}
        <div class="card-panel teal-text center-align">{{ guitar.name }} might be out of tune</div>
      {% endif %}
        
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Tuning</th></tr>
      </thead>
      <tbody>
        {% for tuning in guitar.tuning_set.all %}
          <tr>
            <td>{{tuning.date}}</td>
            <td>{{tuning.get_tune_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  const selectEl = document.getElementById('id_tune');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}